<h1>Books</h1>
<% @books.each do |book| %>
  <p>Titele</p>
  <p>Opinion</p>
  <% if @user.profile_image.attached? %>
    <%= image_tag @user.profile_image, size: "100x100" %>
  <% else %>
    <%= image_tag 'no_image', size: "100x100" %>
  <% end %>

  <%= link_to book.title, book_path(book) %>
  <%= book.body %>
<% end %>