<% @books.each do |book| %>
 <div>
   <p>Title:<</p>
 </div>
<h1>New book</h1>
<%= from_whit model: @book do |f| %>

  <h4>Title</h4>
  <%= f.text_field :title %>
  
  <h4>Opinion</h4>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book' >
<% end %>
